@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "hover";
@import "components/color";
@import "components/variables";
@import "components/buttons";
@import "components/waves";
@import "components/global";
@import "components/typography";
@import "components/forms/*";
@import "components/grid.scss";
// @import "components/**/*";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300,700);

/*****************
Color Variables
******************/
$primary-teal: #2bbbad; //#16a085; //#88C9B3;
$light-teal: #1abd9d; //#2B8888;
$teal: #51B7A6;
$primary-blue: #2980b9;
$light-blue: #3498db;
$primary-white: #E4E4E4;
$light-grey: #cdcdcd;
$primary-purple: #4F0A86;
$light-purple: #B57DE2;
$ut-orange: #C75B12;
$primary-black: #333333;

/*****************
Responsive
******************/
@media screen and (min-width: 768px) {
  .v-align{
    display: flex;
    align-items: center;
  }

  .list-unstyled{
    padding-left: 2em;
  }

  #header{
    h1 {
      font-size: 6em;
    }
    h2{
      font-size: 3em;
    }
    h3 {
      font-size: 2em;
    }
  }
  .heading h2{
    font-size: 3em;
    margin-bottom: 0px;
  }

  #portfolio{
    .offset{
      padding-top: 4em;
    }
    img{
      max-width: 350px;
    }
  }
  .projects{
    .projImage{
      float: right;
    }
    .row:nth-child(3){
      padding-top: 2em;
    }
  }
  #action-parallax {
    padding: 2em;
  }

  .migrant-email {
    margin-bottom: 130px;
    padding: 0 1em 0 0;
  }

  .request {
    margin-top: -0.5em;
    padding: 0 0.7em;
    i {
      position: relative;
      font-size: 2.5em;
      top: 43px;
      margin-right: 20px;
      color: $primary-teal;
    }
  }
  .email-submit {
    position: relative;
    left: 1em;
  }
  .story-text {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .info-text {
    max-width: 710px;
    margin: 2em 0 2em 3em;
  }
  .action-selectors {
    width: 80%;
  }
  .assessment-panel {
    width: 80%;
    .content {
      padding: 1.5em 5em 4em 5em;
    }
  }
  .occupation {
    margin-left: 3em;
    object {
      margin-right: 3em;
    }
  }
}

@media screen and (max-width: 767px) {
  body{
    p{
      font-size: 14px;
    }
  }
  #header .logo {
    width: 90%;
  }
  #blog h3{
    font-size: 18px;
  }
  h3 {
    font-size: 1.5em;
  }
  #contact{
    text-align: center;
    .row img{
      width: 180px;
      .image-border{
        margin: 2em auto;
      }
    }
  }
  .row .v-align{
    text-align: center;
  }
  .projects{
    .row{
      text-align: center;
    }
  }
  #education{
    .utLogo{
      margin: 0 auto;
      padding-top: 1em;
    }
  }
  #portfolio{
    img{
      max-width: 90%;
      margin-top: 1em;
    }
  }
  .story-cartoon .arrows {
    display: none;
  }
  .action-selectors {
    width: 100%;
  }
  #action-parallax {
    padding: 0;
  }
  .assessment-panel {
    width: 100%;
    .content {
      padding: 0 1em;
    }
  }
  .occupation {
    object {
      margin: 0 auto;
    }
  }
}

/*****************
General
******************/
body{
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;
}

section{
  padding-bottom: 3em;
  padding-top: 2em;
  font-size: 18px;
}

h4 {
  line-height: 1.4;
}

strong {
  font-weight: bold;
}
a:not(.carousel-control):not(.btn-circle){
  color: $primary-teal;
  &:hover{
    color: $light-teal;
  }
}

.italic {
  font-style: italic;
}

.emph{
  border-bottom: 3px solid $primary-teal;
}
.underline-dashed {
  border-bottom: 3px dashed $primary-teal;
}

.right-quote {
  text-align: right;
  border-right: 5px solid teal;
  padding-right: 35px;
}

.left-quote {
  text-align: left;
  border-left: 5px solid teal;
  padding-left: 45px;
  width: 95%;
}

.heading{
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  text-align: center;
  padding-bottom: 1em;
  .underline{
    width: 3em;
    border-top: 4px solid $primary-teal;
    display: inline-block;
  }
}

input[type=text],  input[type=email] {
  border-bottom: 1px solid #ccc;
}

/*****************
Navigation
******************/
.navbar{
  margin-bottom: 0;
  border-radius: 0px;
}
ul.navbar-right a{
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand{
  padding: 3px 6px 3px 15px;
}

/*****************
Header
******************/
#header{
  min-height:100vh;
  .nextbtn {
    display: flex;
    justify-content: center;
  }
  .container {
    margin-bottom: 0;
  }
  h2,h3 {
    text-align: center;
  }
  .row {
    margin: 0;
  }
  .btn-circle {
    border-radius: 100%;
    padding: 1em;
    border: 4px solid transparentize(white, 0.1);
    background-color: transparentize(white, 0.8);
    padding: 37px 15px 19px 15px;
    color: white;
    i {
      padding: 10px 0;
    }
    &:hover{
    background-color: transparentize(white, 0.6);
    }
  }
}

.jumbotron{
  background-color: transparent;
  padding: 48px 0 50px 0;

  .textbg{
    margin: 0 auto;
    .row{
      display: flex;
      justify-content: center;
      .logo {
        width: 50%;
        object {
          width: 100%;
          margin-bottom: 2em;
        }
        margin: auto 0;
      }
    }
  }
}

.description-flow {
  display: flex;
  justify-content: center;
}

/*****************
story
******************/
#story {
  padding-bottom: 7%;
  background-image: image-url('footer_lodyas.png');
  color: $primary-white;
}

.story-cartoon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h3 {
    font-size: 1.8em;
    color: #88C9B3;
  }
  i {
    color: #88C9B3;
  }
  .flat-img {
    margin: 0 1em;
    text-align: center;
    object {
      width: 160px;
      margin: 0 2em;
    }
  }
  .flat-img.network {
    object {
      width: 160px;
      margin: 20px 10px 0 0;

    }
  }
  .flat-img.cert {
    object {
      width: 130px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

/*****************
action
******************/

#action-parallax {
  background-size: 100%;
  background-position-y: -250px;
}
#action {
  padding: 0;
  background-color: #F9F9F9;
  // background: image-url("worn_dots.png");
  .action-selectors {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .heading{
    margin: 1em auto 3em auto;
    h3 {
      font-size: 1.8em;
      margin-bottom: 1.5em;
    }
  }
  .action {
    width: 50%;
    padding: 0;
    background-color: $primary-black;
    text-align: center;
    border-bottom: 5px solid darken($primary-teal, 5%);
    z-index: 1;
    &:hover, svg:hover{
      cursor: pointer;
      border-bottom: none;
      -webkit-transition: border-bottom 2s; /* Safari */
      transition: border-bottom 4s;
      transition-timing-function: linear;
    }
    .action-icon {
      // min-height: 100px;
      // font-size: 5em;
      object {
        max-height: 100px;
        margin: 1em 1em 0 1em;
      }
      i {
        color: $teal;
        margin: 15px;
      }
    }
  }
  .action.on {
    border-bottom: none;
    border-top: 5px solid darken($primary-teal, 5%);
    border-left: 5px solid darken($primary-teal, 5%);
    border-right: 5px solid darken($primary-teal, 5%);
    // transform: scale(1.15);
    background-color: $primary-teal;
    cursor: auto;
    z-index: 0;
  }

  .action-desc{
    // background-color: $light-teal;
    color: $primary-white;
    padding: 5px 8px;
    text-align: center;
  }
}

.assessment-panel {
  margin: 0 auto 2em auto;
  // padding: 0 2em 2em 2em;
  background-color: $primary-white;
  border-bottom: 5px solid #A8A8A8;
  // border-bottom: 3px solid #A8A8A8;
  .title {
    min-height: 3em;
    width: 100%;
    border-left: 5px solid darken($primary-teal, 5%);
    border-right: 5px solid darken($primary-teal, 5%);
    background-color: $primary-teal;
    color: $primary-white;
    padding: .5em;
    text-align: center;
  }

}

.traject {
  padding-left: 4%;
  padding-right: 4%;
  // background-image: image-url("white_wall/white_wall.png");
  .title{
    font-size: 2em;
  }
  .traject-logo img {
    width: 100%;
  }
  .title{
    font-size: 2em;
  }
  .projImage{
    background-color: $light-teal;
    font-size: 5em;
    // border-radius: 100%;
    text-align: center;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    i{
      width: 100px;
      height: 100px;
    }
    a, :hover{
      color: $primary-white;
    }
  }
}

.migrant-info {
  i {
    color: $primary-teal;
    padding-right: 10px;
    &.fa-check-squares-o {
      font-size: 1.5em;
      position: relative;
      top: 5px;
    }
    &.fa-circle{
      font-size: .5em;
      position: relative;
      top: -3px;
    }
    &.fa-hand-o-right {
      padding-right: 30px;
    }
  }
}



.migrant-work-list li {
  display: -webkit-inline-box;
  .flat-icon {
    position: relative;
    top: 20px;
  }
  h4{
    align-self: center;
    font-size: 23px;
    padding: 10px;
    }
}

.flat-icon {
  border-radius: 50%;
  padding: 7px 17px;
  font-size: 45px;
  font-weight: bold;
  display: inline-block;
  line-height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  margin-right: 15px;
}
.pint {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  margin-bottom: 1em;
  object {
    max-width: 130px;
    // margin-right: 4em;
  }
  h4 {
    margin: 0 2em;
    font-size: 1.5em
  }
  .left-quote {
    width: none;
  }
  .beer-wrapper {
    text-align: center;
  }
}

.occupation {
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  margin-bottom: 3em;
  margin-top: 2em;
  object {
    max-width: 220px;
  }
  ul {
    font-size: 23px;
    margin-top: 20px;
  }
}
.beer-wrapper {
  text-align: center;
}

.info-text.occupation {
  align-items: flex-start;
}

.request {
  h3 {
    color: #26A69A;
  }
}

/*****************
Assessors
******************/
.assessor-description-object {
  text-align: center;
  padding-top: 2em;
}
#network-img {
  max-width: 170px;
}

.accredited-text {
  i {
    color: $primary-teal;
  }
}
/*****************
Blog
******************/
#blog{
  background-image: image-url('footer_lodyas.png');
  color: #989898;
  .row.page{
    text-align: center;
    color: $gray-light;
  }
  .left,  .right{
    justify-content: center;
    align-items: center;
    display: flex;
    color: $gray-light;
    font-size: 2em;
  }
  .blognav{
    display: flex;
    padding-bottom: 2em;
  }
}



/*****************
Contact
******************/
#contact{
  background-image: image-url("geometry2.png");
  // background-size: cover;
  // background-position: center;
  background-repeat: true;
  background-position: 0;
  .container-fluid{
    // background-color: transparentize(white, 0.5);
    padding-bottom: 2em;
  }
  .row{
    padding: 2em auto;
  }
  img{
    width: 300px;
  }
}

.image-border{
  border: 4px solid #2B8888;
  border-radius: 100%;
  padding: 22px 27px 0 14px;
  display: inline-block;
}
/*****************
footer
******************/
#footer{
  background-color:$gray-darker ;
  text-align: center;
  padding: 0;
  .row{
    padding: .5em 0;
  }
  p{
    margin-bottom: 0px;
  }
  .row i{
    margin:auto 10px;
  }
}

@media screen and (max-width: 767px) {
  #action .heading {
    margin: 0;
  }
  .assessment-panel {
    margin: 0;
    padding-bottom: 2em;
  }
  .occupation {
    margin: 2em 0 0 0;
  }
  .info-text.occupation {
    margin: 0;
    i {
      display: none;
    }
  }
  .migrant-work-list li h4 {
    padding: 0;
    flex-grow: 1;
    display: inline-block;
  }
  .pint object {
    margin: 1em auto;
  }
}

/*****************
Animations
******************/
.animate-grow-large {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.animate-grow-large, .animate-grow-large:hover, .animate-grow-large:focus, .animate-grow-large:active {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.animate-out{
  isplay: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* Shrink */
.animate-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.animate-shrink, .animate-shrink:hover, .animate-shrink:focus, .animate-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: $primary-purple;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-teal;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: $primary-white;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Pusle */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/* bounce */
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
// shake
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
