$light-white: #F4F4F4;


#articles{
  background-image: image-url("white_bed_sheet/white_bed_sheet.png");
  p{
    font-size: 18px;
  }

  #header{
    background: image-url("footer_lodyas.png");
    min-height: 0;
    text-align: left;
    object {
      width: 400px;
    }
  }

  .jumbotron{
    padding: 3em 0 1em 0;
  }

  #header h1{
    font-size: 4em;
    position: fixed;
    left: -99999999999px;
  }

  #header h2{
    font-size: 2em;
    margin-top: 0;
    position: fixed;
    left: -99999999999px;
  }

  #header .row{
    text-align: center;
  }

  #main{
    margin: 2em auto;
    max-width: 1000px;
    background-color: $light-white;
    padding: 2em 3em;
    min-height: 60vh;
  }
  .title .blog-date{
    color: gray;
  }
  .sidebar{
    margin-top: 1em;
  }
  #footer{
    margin-top: 3em;
    position: absolute;
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  #articles #header{
    background-size: 100px;
    background-position: 0 4em;
    .jumbotron h1{
      font-size: 2em;
    }
    h2{
      font-size: 16px;
    }
  }
  #main{
    margin: 1em 2em;
    h1{
      font-size: 22px;
    }
    h3{
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 769px) {
  #articles .title{
    margin-bottom: 40px;
    h2{
      font-size: 60px;
    }
  }
}