<section id="footer">
  <div class="container-fluid">
    <div class="row">
      <p>
        <a href="https://twitter.com/Traject_NZ"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/traject-new-zealand"><i class="fa fa-linkedin-square fa-2x"></i></a>
      </p>
    </div>
  </div>
</section>