<section id="header">
  <div class="jumbotron">
    <div class="textbg">
      <div class="row">
        <!-- <div class="col-xs-12 col-md-6">
          <div class="logo">
            <object data="images/logos/traject-logo-wtag-white-01.svg" type="image/svg+xml"></object>
          </div>
        </div> -->
        <div class="container">
          <h2>Growing the Knowledge Economy</h2>
          <h3>Bridging the gap between the kind of skills our IT sector needs, and New Zealand’s current Immigration policy. </h3>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-7 header-email">
          <form action="https://formspree.io/info@traject.nz"
                  method="POST">
                <h3 class="left">Need a visa? We want to talk to you:</h3>
                <div class="input-field col s8">
                  <i class="prefix fa fa-envelope" aria-hidden="true"></i>
                  <input type="email" name="_replyto" class="validate">
                  <label for="_replyto">Enter your email</label>
                </div>
                <div class="input-field col-md-3">
                  <input type="submit" value="Get More Info" class="btn wave-effect">
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

  </div>
  <div class="row nextbtn">
    <p><a class="btn-circle" href="#description" role="button"><i class="fa fa-chevron-down fa-3x"></i></a></p>
  </div>
</section>