<section id="description">
  <div id="pin" class="container-fluid">
    <div class="row heading">
      <h2>Get Skills Recognised</h2>
      <div class="underline"></div>
    </div>
    <div class="container">
      <div class="row">
        <h4>We’re making it possible for <span class="underline-dashed">migrants</span> who have skills, but no tertiary education, to become New Zealand <span class="underline-dashed">residents.</span> </h4>
        <div class="col-md-5">
          <div id="brain-animation">
            <object id="squiggles" data="images/brain_animation/squiggles.svg" type="image/svg+xml"></object>
            <object id="brain" data="images/brain_animation/brain.svg" type="image/svg+xml"></object>
            <object id="banner" data="images/brain_animation/banner.svg" type="image/svg+xml"></object>
            <object id="face" data="images/brain_animation/face.svg" type="image/svg+xml"></object>
          </div>
        </div>
        <div class="col-md-7">
        <div class="row animated intro-subtext">
          <P>Currently, to get a Skilled Migrant Category Visa to work in New Zealand's IT sector, you either need a bachelors degree in your field or five years of full-time work experience.</P>

          <p>Those who are <span class="underline-dashed">self taught</span> or <span class="underline-dashed">self employed</span> often have difficulty qualifying for a visa. This includes those who have a degree, but it's in an unrelated field.</p>
        </div>
        <div class="row">
          <h4 class="animated question">Skilled enough for the industry, is now skilled enough for immigration.</h4>
        </div>

        </div>
      </div>
    </div>
  </div>

</section>