<section id="action">
  <div id="action-parallax">
    <div class="row heading">
     <h3>We're currently <span class="underline-dashed">prototyping</span>.</h3>
     <h2>Want to be part of it?</h2>
    </div>
    <div class="action-selectors">
      <div class="action migrant hvr-grow hvr-underline-reveal on">
        <div class="action-icon">
          <!-- <object id="migrant-img" data="images/traject-icons/traject-user.svg" type="image/svg+xml"></object> -->
        </div>
        <h3 class="action-desc">Get Skills Assessed</h3>
      </div>
      <div class="action accredited hvr-grow hvr-underline-reveal">
        <div class="action-icon">
          <!-- <object id="accredited-img" data="images/traject-icons/traject-building.svg" type="image/svg+xml"></object> -->
        </div>
        <h3 class="action-desc">Become Skill Assessor</h3>
      </div>
    </div>
    <div class="assessment-panel">
      <div class="migrant-text">
        <div class="title">
          <!-- <h2>Migrants</h2> -->
        </div>
        <div class="content">
          <div class="form">
            <form action="https://formspree.io/info@traject.nz"
                  method="POST"
                  class="migrant-email">
                <div class="request">
                    <h3>Help us make change, let's talk:</h3>
                </div>
                <div class="email-submit">
                  <div class="input-field col-md-4">
                    <input type="text" name="name" class="validate">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col-md-4">
                  <input type="email" name="_replyto">
                  <label for="_replyto">Email</label>
                </div>
                <div class="input-field col-md-3">
                  <input type="submit" value="Get More Info" class="btn wave-effect">
                </div>
              </div>
            </form>
          </div>
          <div class="migrant-info">
            <h3>What does our Skills Assessment give you?</h3>
            <div class="info-text">
              <p>It gets you points on your Expression of Interest (EOI) when applying for a Skilled Migrant Category (SMC) visa. You need over 100 points to have your EOI considered. If you don't have a tertiary education, or can't easily prove 5 years work experience, in your field, then you're unlikely to get over 100 points.</p>
            </div>

            <h3>Who is it for?</h3>

            <div class="info-text">
              <p>Our prototype Skills Assessment service is for people considering applying for the Skilled Migrant Category visa, who are coming to work in the information and communications technology (ICT) sector, and do not have a tertiary qualification in their field.</p>
            </div>
            <h3>Is this you?</h3>
            <div class="info-text">
              <ul>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                  You have a job offer, or current contract, for an elligble occupation (see below)
                </li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                  You don't have a tertiary education in the field of your occupation
                </li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                  You would like to apply for a Skilled Migrant Category visa
                </li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                  You will be in New Zealand on, or before, August 1st 2016
                </li>
              </ul>
            </div>
            <h3>Elligible ICT Occupations</h3>

            <div class="occupation row">
                <div class="beer-wrapper col-md-4">
                  <object id="" data="images/traject-color-story/laptop.svg" type="image/svg+xml"></object>
                </div>
                <div class="col-md-8">
                  <ul>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>
                      Programmer or Developer
                    </li>

                    <li><i class="fa fa-circle" aria-hidden="true"></i>
                      Business Analyst
                    </li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>
                      Database Administrator
                    </li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>
                      Test Engineer / Analyst
                    </li>
                    <li><i class="fa fa-circle" aria-hidden="true"></i>
                      Project Manager
                    </li>
                  </ul>
                </div>
              </div>
              <div class="info-text occupation row">
                <i class="fa fa-hand-o-right fa-3x col-md-2" aria-hidden="true"></i>
                <p class="col-md-10">
                Or see the <a href="http://skillshortages.immigration.govt.nz/assets/uploads/long-term-skill-shortage-list-2016-04-11-.pdf">full list here</a>
                 under the ICT section. See the Requirements section in this document for information on what constitutes a tertiary education in your field.</p>
              </div>
            <h3>How does it work?</h3>
            <div class="info-text">
              <ul class="migrant-work-list">
                <li><div class="flat-icon"> 1 </div>
                <h4>You submit a written description of your skills.</h4></li>
                <li><div class="flat-icon"> 2 </div>
                <h4>We match you up with assessors knowledgeable in your skillset.</h4></li>
                <li><div class="flat-icon"> 3 </div>
                <h4>You are interviewed by each assessor individually.</h4></li>
                <li><div class="flat-icon"> 4 </div>
                <h4>Results of your Assessment are handed over to Immigration when you submit your EOI.</h4></li>
              </ul>
              </div>
              <div class="pint row">
                <div class="col-md-8">
                  <h4 class="left-quote col-md-8">Providing you tick all the other boxes, we'll shout your first beer as a New Zealand resident!</h4>
                </div>

                <div class="col-md-2 beer-wrapper">
                  <object id="beer-img" data="images/traject-color-story/pint.svg" type="image/svg+xml"></object>
                </div>
              </div>
            <h3>What was that about "prototype"?</h3>
            <div class="info-text">
              <p>We're still working with Immigration to design this service. This means that the immigration policy change we need to get you more EOI points is not actually in place yet, nor are some of the finer details. </p>

              <p> Immigration has said that the change will likely take 8 weeks to get in place, because of all of the people that need to sign off on it. We set the first interview dates at 1st August to reflect this. We happily will run the Assessment interviews prior to this date, but cannot guarantee the policy change will be in place until then.</p>

              <p>We will be taking payments now and holding them until such a date as the policy is changed. In the unlikely event that the policy does not change we will return your money in full.</p>

              <p>The prototype will only be accepting a limited number of migrants.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="accredited-text">
        <div class="title">
          <!-- <h2>Assessors</h2> -->
        </div>
        <div class="content">
            <div class="assessor-description row">
              <div class="assessor-description-object col-md-4">
                <object id="network-img" data="images/traject-color-story/communication.svg" type="image/svg+xml"></object>
              </div>

              <div class="assessor-description-text col-md-8">
                <h4>Overview</h4>
                <p>The skills assessments network is currently in its innovation and growth phase. The foundation is currently being set. Initially we’ll only be assessing programmers and developers. <strong>We need your help to get skills assessment network off the ground.</strong></p>

                <p>How does industry decide whether a programmer is skilled enough for the job? Usually, code tests and a set of technical questions. That’s where you come in.</p>
              </div>
            </div>
            <div class="row">
              <h4>We have three asks:</h4>
              <ul>
                <li><h4><i class="fa fa-terminal" aria-hidden="true"></i> We need help developing an assessment framework.</h4> </li>
                <li><h4><i class="fa fa-terminal" aria-hidden="true"></i> We need help developing an assessment content.</h4> </li>
                <li><h4><i class="fa fa-terminal" aria-hidden="true"></i> We need people to run the assessments. </h4> </li>
              </ul>
            </div>
            <h4>Assessment Framework</h4>
            <div class="info-text">
              <p>We need the help of people in tech to develop a framework for Assessments so that migrants go through a fair process. </p>

              <p>It’s important that every Assessment is comparable. We’re going to be performing two Assessments for each migrant and in order to audit them they need to follow an identical framework.</p>

              <p>If you want to join the conversation online, check out our <a href="https://www.loomio.org/invitations/11bbc3197e57a1464b29">Loomio</a>.
              If you want to hear more, please get in <a target="_blank" href="mailto:info@traject.nz"> touch</a>. </p>
            </div>
            <h4>Assessment Content</h4>
            <div class="info-text">
              <p>We’re looking for anyone interested in developing a comprehensive set of code tests for a range of popular languages, development frameworks, and technologies. </p>

              <p>Most companies hiring a programmer will get them to complete code tests. We want to do the same when deciding if a programmer is skilled enough to get residency. </p>

              <p>Once we’re fully launched we will need a constant supply of code tests and will be able to pay people to produce these. For our MVP we are asking that people give us code tests on a deferred loan. So once Immigration changes policy and our Assessments actually result in residency for the migrants, you will be paid for your code tests. </p>
            </div>
            <h4>People to Run Assessments</h4>
            <div class="info-text">
              <p>We need people who have a high level of technical proficiency to run the Assessments. </p>

              <p>Ideally we’re looking for people that have conducted job interviews for technical positions, as that is the process we’d like to mirror.</p>

              <strong>Alternatively, we’re looking for:</strong>
              <ul>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  Academics in the fields of programming and computer science
                </li>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  Senior programmers
                </li>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  IT Recruiters
                </li>
                <li>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  Anyone else who has the appropriate skillset
                </li>
              </ul>

              <p>Assessments will be approximately one hour each. Companies or individuals providing assessments will be compensated. </p>

            </div>

      </div>
    </div>
  </div>
</section>