<section id="products">
  <div class="container-fluid">
    <div class="row heading">
      <h2>Products</h2>
      <div class="underline"></div>
    </div>
    <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repellendus aperiam, beatae perferendis debitis praesentium facilis est maxime repellat consectetur, autem incidunt, vero tenetur quidem minus cupiditate aliquid distinctio omnis! </p>
<!--       <div class="row portfolio-items">
        <article class="col-md-6 product-cover">
          <a href="#!project/project1.html">
            <img src="images/products/woman-phone.jpg" alt="skills assessment network">
            <p><span><i class="icon-cloud"></i></span>skills assessment network</p>
          </a>
        </article>

        <article class ="col-md-6 product-cover">
          <a href="#!project/project2.html">
            <img src="images/products/man-people-space-desk.jpg" alt="Accredited Employer Scheme">
            <p><span><i class="icon-cloud"></i></span> accredited employer scheme online</p>
          </a>
        </article>
      </div> -->
      <div id="portfolio-items" class="portfolio-items">
          <article class="col-md-4">
            <div class="portfolio-card">
              <div class="image">
                <img src="images/products/woman-phone.jpg" alt="Accredited Employer Scheme">
              </div>
              <h5>Easier for Migrants</h5>
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus quod odit esse, reiciendis facere quia iusto architecto.</p>
              </div>
            </div>
          </article>
          <article class="col-md-4">
            <div class="portfolio-card">
            <div class="image">
              <img src="images/products/man-people-space-desk.jpg" alt="Accredited Employer Scheme">
            </div>
            <h5>Easier for Companies</h5>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus quod odit esse, reiciendis facere quia iusto architecto.</p>
            </div>
            </div>
          </article>
          <article class="col-md-4">
            <div class="portfolio-card">
            <div class="image">
              <img src="images/products/man-people-space-desk.jpg" alt="Accredited Employer Scheme">
            </div>
            <h5>Growing Local Talent</h5>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus quod odit esse, reiciendis facere quia iusto architecto.</p>
            </div>
            </div>
          </article>
      </div>
    </div>
  </div>
</section>