<section id="story" class="projects">
  <div class="container-fluid">
    <div class="row heading">

      <!-- <div class="underline"></div> -->
    </div>

    </div>
    <div class="story-cartoon">
      <div class="flat-img img animated">
        <object data="images/traject-color-story/technology.svg" type="image/svg+xml"></object>
        <h3 class="">Tech Migrants</h3>
      </div>
      <div class="arrows img animated"> <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i> </div>
      <div class="flat-img img animated">
        <object data="images/traject-color-story/computer.svg" type="image/svg+xml"></object>
        <h3 class="">Get Assessed by Peers</h3>
      </div>
      <div class="arrows img animated"> <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i> </div>
      <div class="flat-img cert img animated">
        <object data="images/traject-color-story/cert.svg" type="image/svg+xml"></object>
        <h3 class="">For A Residence Visa</h3>
      </div>
    </div>
  </div>
</section>