<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    ...
  </div>
</nav>

<section id="construction">
  <h1>This page is under construction</h1>
  <p>Please contact Ashlyn at: <a href="mailto:a@ashlynbaum.com">a@ashlynbaum.com</a> </p>
  <i class="fa fa-facebook"></i>
</section>

