<section id="description">
  <div id="pin" class="container-fluid">
    <div class="row heading">
      <h2>Get Skills Recognised</h2>
      <div class="underline"></div>
    </div>
    <div class="container">
      <div class="row">
        <h4>We’re making it possible for <span class="underline-dashed">migrants</span> who have skills, but no tertiary education, to become New Zealand <span class="underline-dashed">residents.</span> </h4>
        <div class="col-md-5">
          <div id="brain-animation">
            <object id="squiggles" data="images/brain_animation/squiggles.svg" type="image/svg+xml"></object>
            <object id="brain" data="images/brain_animation/brain.svg" type="image/svg+xml"></object>
            <object id="banner" data="images/brain_animation/banner.svg" type="image/svg+xml"></object>
            <object id="face" data="images/brain_animation/face.svg" type="image/svg+xml"></object>
          </div>
        </div>
        <div class="col-md-7">
        <div class="row animated intro-subtext">
          <P>Traditionally, to get a Skilled Migrant Category Visa to work in the Technology Sector, you either need a bachelors degree in your field or five provable years of work experience.</P>

          <p>Those <span class="underline-dashed">self taught</span> or <span class="underline-dashed">self employed</span> have difficulty qualifying for their visa. This includes those who work in a field other than their degree.</p>
        </div>
        <div class="row">
         <h4 class="animated question">How many people do you know that work in a field different from their degree?</h4>
        </div>

        </div>
      </div>
    </div>
  </div>

</section>