<section id="description">
  <div class="container-fluid">
    <div class="row heading">
      <h2>Get Skills Recognized</h2>
      <div class="underline"></div>
    </div>
    <div class="container">
      <div class="row">
        <h4>We’re making it possible for <span class="underline-dashed">migrants</span> who have skills, but no tertiary education, to become New Zealand <span class="underline-dashed">residents.</span> </h4>
        <div class="col-md-4">
          <h4>Self Taught and Self Employed</h4>
        </div>
        <div class="col-md-8">

          <p>Traditionally, to get a Skilled Migrant Category Visa to work in the Technology Sector, you either need a bachelors degree in your field or five provable years of work experience.</p>
          <p>Those self taught, and cannot prove work experence have difficulty qualifying for their visa.</p>
        </div>
      </div>
    </div>
  </div>

</section>